body {
    background-color: black;
    color: white;
}
.card {
    border: 1px solid #333;
    height: 340px; 
    margin-bottom: 30px;
    flex-direction: row;
    display: flex;
}

.act-image{
    width: 50%;
    height: 100%;
}

.act-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.act-info{
    width: 50%;
    padding: 15px;
    overflow-y: auto;
}
  