body {
    background-color: black;
    color: white;
}
.act-info{
    width: 50%;
    padding: 15px;
}
  
.act-image{
    width: 50%;
}
  
  
.card {
    border: 1px solid #333;
    overflow: hidden;
    height: 210px; /* Fixed height for all cards */
    margin-bottom: 20px;
}
  